= form_for @secret do |f|
  - if @secret.errors.any?
    #error_explanation
      %h2= "#{pluralize(@secret.errors.count, "error")} prohibited this secret from being saved:"
      %ul
        - @secret.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :tags
    = f.text_field :tags
  .actions
    = f.submit 'Save'
