%h1 Listing secrets

%table
  %thead
    %tr
      %th Title
      %th Text
      %th Tags
      %th
      %th
      %th

  %tbody
    - @secrets.each do |secret|
      %tr
        %td= secret.title
        %td= secret.text
        %td= secret.tags
        %td= link_to 'Show', secret
        %td= link_to 'Edit', edit_secret_path(secret)
        %td= link_to 'Destroy', secret, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Secret', new_secret_path
